h1
{
    background-color: aqua;
    text-transform: uppercase;
}

/*section.style.backgroundColor="black"
section.style.color="blue"
section.style.fontSize="1.5rem"*/

section:nth-child(0)
{
    background-color: gold;
    color: blue;
    font-size: 1.5rem;
    border-radius: 20px; 
    border: 5px solid red; 

}